extends template.pug

block head
	link(rel="stylesheet" href="/css/embed.css")

block main
	.portion.burple.white-text
		.container
			.section
				.row.center
					.col.s12
						h2 #{__('main_subtitle')}
						h5 #{__('main_description', { name: __('name') })}
	svg.portion.bordering.greyple(viewBox="0 0 100 100" preserveAspectRatio="none")
		polygon.burplef(points="0,0 0,100 100,0")
	.portion.greyple
		.container
			.section
				.row.center
					.col.s12.offset-m3.m6
						h4 Statistics
						.card-panel.greyple
							span
								| #{__('main_guilds', { count: discord.guilds.size })}
								br
								| #{__('main_users', { count })}
	svg.portion.bordering.dgrey(viewBox="0 0 100 100" preserveAspectRatio="none")
		polygon.greyplef(points="0,0 0,100 100,0")
	.portion.dgrey.white-text
		.container
			.section
				.row.center
					.col.s12
						h3 #{__('main_calltoaction')}
						h4 #{__('main_invitemethod')}
						a.waves-effect.btn-large.burple(href="/url/invite" target="_blank") #{__('main_invitebutton')}
						p: a(href="/url/github") #{__('github')}
