extends templates/template.pug

block title
	title #{email.subject} - #{__('name')}

block main
	.container.white-text
		.col-s12
			ul
				li #{__('mail_from', { from: email.from })}
				li #{__('mail_date', { date: datestamp })}
				li #{__('mail_subject', { subject: email.subject })}
				li #{__('mail_to', { to: email.To })}
		hr
		.col-s12
			iframe#iframe(sandbox="allow-same-origin" onload="iframeLoaded()" onresize="iframeLoaded()" src=`view/${email.id}`)

block scripts
	script(src="/js/mail.js")
