extends template.pug

block main
	.container
		.col-s12
			ul
				li #{__('mail_from', { from: email.from})}
				li #{__('mail_date', { date: datestamp})}
				li #{__('mail_subject', { subject: email.subject})}
				li #{__('mail_to', { to: email.To})}
		hr
		.col-s12
			if email.body-html
				.col-s12!= email["body-html"]
			else
				.col-s12!= email["stripped-html"]
