doctype html

html
	head
		block title
			title #{__('name')}
		block head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="/css/discordmail.css")
		link(rel="icon" type="image/png" href="/img/favicon.png")
		link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
	body.dgrey
		nav.burple.icon
			.nav-wrapper
				.brand-logo.center
					a(href="/") #{__('name')}
				a.button-collapse(href="#" data-activates="slide-out")
					i.material-icons menu
		main
			block main
		footer.page-footer.dark.grey-text
			.container
				.row
					.col.s12
						p.grey-text.text-lighten-4
							ul
								li: a(href="/docs/terms") #{__('tos')}
								li: a(href="/docs/privacy") #{__('pa')}
								li: a(href="/url/github") #{__('github')}
								li: a(href="https://moustacheminer.com/") #{__('mss')}
								li: a(href="/lang") #{__('footer_lang')}
			.footer-copyright.dblack
				.container
					ul
						li #{__('footer_copyright')}
						li #{__('footer_disclaimer')}
		ul.side-nav#slide-out
			if user
				li: a(href="#") #{user.username}##{user.discriminator}
				if user.dmail
					li: a(href="mailto:" + encodeURIComponent(`${user.dmail.email}@${domain}`)) #{user.dmail.email}@#{domain}
					li: a(href="/mail") #{__('nav_emails')}
				li: a(href="/auth/logout") #{__('nav_logout')}
			else
				li: a(href="/auth") #{__('nav_login')}
			li: a(href="/docs/terms") #{__('tos')}
		block scripts
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js")
		script(src="/js/init.js")
