extends template.pug

block main
	.container.white-text
		.col-s12
			h4 #{__('terminate_title')}
			p #{__('terminate_description')}
			ul
				li #{__('terminate_emails')}
				li #{__('terminate_details')}
				li #{__('terminate_language')}
			form(method="POST")
				button.btn.waves-effect.waves-light.red(type="submit") #{__('terminate_submit')}
